* {
  font-family: 'Love Ya Like A Sister', cursive;
  box-sizing: border-box;
}

.App {
  height: calc(100vh - 123px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  border-bottom: 1px solid black;
  height: 120px;
}

.header__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.header__inner button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.timer {}

.timer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer__time-block {
  font-size: 100px;
  display: flex;
  justify-content: center;
  line-height: 1;
}

.timer__time-block span {
  display: flex;
  line-height: 1;
  width: 112px;
}

.timer__ms {
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  width: 40px !important;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  background-color: #000;
}

.header__elem {
  list-style: none;
}

.header__elem+.header__elem {
  margin-left: 25px;
}

.header__elem a {
  text-decoration: none;
  color: #fff;
}

.header__elem a.active {
  font-size: 18px;
}

.time-revers{
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 50px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 5px;
  font-size: 20px;
}

.time-revers + .time-revers{
}